* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    cursor: none;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('../fonts/neue-machina-regular.otf');
}

body {
    background-color: #000;
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.main {
    /* margin: 1rem; */
    padding: 1rem;
    border-radius: 1rem;
}

.main::before {
    content: '';
    background: linear-gradient(279deg, #03084a, #25023029);
    background-size: contain;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 140vw;
    height: 100vh;
    z-index: -1;
}

.main::after {
    content: '';
    top: auto;
    left: auto;
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}


@media only screen and (min-width: 768px) {
    .main {
        max-width: 1024px;
        margin: 1rem auto;
    }

    .main::before,
    .main::after {
        /* width: 70vw; */
    }
}

.m {
    position: absolute;
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    box-shadow: 0px 0px 8px 3px white;
    opacity: 0.8;
    z-index: 999;
    pointer-events: none;
}

.m:before {
    position: absolute;
    background: #ffff;
    content: '';
    width: 15px;
    height: 15px;
    transform: translate(-8%, -8%);
    border-Radius: 50%;
    box-shadow: 0px 0px 8px 3px green;
    opacity: 0.3;

}